@model Web_API_MFH_4._0.Models.RememberPass

@{
    ViewBag.Title = "RememberPassword";
}

<h2>RememberPassword</h2>
Prueba de cambio de password
@using (Html.BeginForm())
{
    @*<div class="input-group form-control">
        <div class="row">
            <div class="col-sm-2" style="font-size:18px">
                Filtrar por
            </div>
            <div class="col-sm-4">
                N° Parte:    @Html.RadioButton("ChkTipo", "Part", true, new { @class = "form-Control" })
                Descripción: @Html.RadioButton("ChkTipo", "Desc", new { @class = "form-Control" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2" style="font-size:18px">
                New Password
            </div>

            <div class="col-sm-2">
                @Html.TextBox(model => model.UserId//"AutoCComponentes", null, new { @class = "form-control input-sm", @id = "AutoCComponentes", @style = "height:29px" })
            </div>
            <div class="col-sm-2">
                @Html.DropDownListFor(model => model.Comps, Model.Comps, new { @class = "form-control", @style = "height:29px" })
            </div>
            <div class="col-sm-1" style="display:none">
                <label for="inputdefault" style="text-align:right; font-size: 18px;">Almacen </label>
            </div>
            <div class="col-sm-2 autoC" style="display:none">
                @Html.DropDownListFor(x => x.Almacenes, new SelectList(Model.Almacenes, "Value", "Text"), "--Seleccione--", new { @class = "form-control" })
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-1">
                <button id="BtnConsultar" type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span> Consultar
                </button>
            </div>
            
        </div>
    </div>*@
}